* {
	box-sizing: border-box;
}

body {
	margin: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: tan;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

ul {
	width: 300px;
	list-style-type: square;
	list-style-position: inside;
	margin: 5px;
	padding: 5px;
	background: dodgerblue;
}

ul li {
	font-style: italic;
	text-shadow: 2px 2px 5px yellow;
}
