* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 20px;
	padding: 0;
	background-color: tan;
}

h1 {
	margin-top: 0;
	font-size: 22px;
}

h2 {
	margin-top: 0;
	font-size: 20px;
}

textarea {
	width: 30%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	/* resize: none; */
}
